.ui-dialog-titlebar {
    border: none;
    background: none;
}

.ui-dialog-titlebar .ui-dialog-title {
	display: none;
}

.ui-dialog-titlebar .ui-button.ui-corner-all {
	width: 28px;
    height: 28px;
    z-index: 9999;
	border: none;
	margin-top: 0px;
	background: none;
}

.ui-dialog-titlebar .ui-button.ui-corner-all .ui-button-icon {
	background-image: url("../images/close.png");
	border: none;
	margin-top: 0px;
	width: 28px;
    height: 28px;
    background-position: initial !important;
    top: 5px;
    left: 8px;
    background-size: 20px;
}


.ui-dialog {
	background: #dc971a;
	border: none !important;
    border-radius: 0px;
}

.finder-modal {
	font-family: "Open Sans";
	background: #dc971a;
	color: white;
	display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: -webkit-fill-available;
}

.finder-modal .form-actions {
	display: none;
}

.custom-button {
	height: 49px;
	width: 241px;
	border-radius: 3px;
	background-color: #481747;
	text-align: center;
	margin: 24px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.custom-button a {
	font-size: 12px;	
	font-weight: bold;	
	line-height: 15px;	
	text-align: center;
	color: white !important;
    font-family: Verdana;
}

.title {
	color: white;	
	font-size: 26px;	
	font-weight: bold;	
	line-height: 26px;	
	text-align: center;
	width: 329px;
	margin: 16px auto;
	margin-bottom: 24px;
	font-family: Verdana;

}

.title-disclaimer {
	color: white;	
	font-size: 26px;	
	font-weight: bold;	
	line-height: 26px;	
	margin: 16px auto;
	margin-bottom: 30px;
	width: 504px;
	font-family: Verdana;
}

.body-disclaimer {
	height: 192px;
	width: 291px;
	color: white;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	text-align: center;
	margin: 0 auto;
}

.ui-dialog-buttonpane {
	background: #dc971a;
    border: none;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button {
	background-color: #481747;
    border: none;
    width: 94px;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    font-family: Verdana;
    color: white;

}

div[data-drupal-messages] {
	width: 100%;
}

.body-messages {
	height: auto;
	width: 434px;	
	color: white;	
	font-family: "Open Sans";	
	font-size: 18px;	
	font-weight: 600;	
	line-height: 24px;
}

.body-title {
	width: 504px;
    color: white;
    font-family: Verdana;
    font-size: 24px;
    font-weight: bold;
    line-height: 26px;
    margin: 30px 0;
}

.js-webform-webform-buttons .ui-button {
	border: 2px solid #481647;
    background: none;
    font-weight: normal;
    color: #481647;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    padding: 6px 14px;
    transition: all ease 0.35;
    min-width: 68px;

}

.js-webform-webform-buttons .ui-button:hover {
	background: #481647;
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 20px;
    border: none;
}

#drupal-modal .ui-state-active, #drupal-modal .ui-widget-content .ui-state-active {
	border: none;
    background: #481647;
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 20px;
    text-transform: uppercase;
}

.finder-modal .js-form-wrapper {
	min-width: 504px;
}

.body-messages.form-type-processed-text {
	text-align: center;
	min-width: 504px;
    padding: 14px 40px;
}

.finder-modal .webform-options-display-side-by-side {
    margin-top: 24px;
}
