{#
/**
 * @file
 * Default theme implementation to display a table.
 *
 *
 * @ingroup templates
 *
 * @see template_search_block_home()
 */
#}
<div class="searchblock-text-container">
  <div>
    {% trans %}There are 51 active lobbyists registered and 1,163 lobbying activities.{% endtrans %}
  </div>
  <div>
    {% trans %}Download the data from the register at Open Data{% endtrans %}
  </div>
</div>
<div class="view-filters-search-activities">
  <form class="views-exposed-form row"  action="/search-activity" method="get" id="views-exposed-form-search-activities" accept-charset="UTF-8" data-drupal-form-fields="organization-name,department,edit-submit-search-activity">
    <div class="all-filters ">
      <div class="form-type-textfield form-item-organization-name form-group col-xs-12 col-md-5">
        <label for="organization-name" class="control-label">{% trans %}Search for a lobbyist by an individual’s name  or by the name of the organization.{% endtrans %}</label>
        <input data-drupal-selector="organization-name" class="form-text form-control" type="text" id="organization-name" name="organization-name" value="" size="30" maxlength="128">
      </div>
      <div class="form-type-textfield form-item-department form-group col-xs-12 col-md-5">
        <label for="department" class="control-label">{% trans %}Department or corporation{% endtrans %}:</label>
        <input data-drupal-selector="department" class="form-text form-control" type="text" id="department" name="department" value="" size="30" maxlength="128" data-original-title="This should be your business email address. An email address can only be used once to register. This is the email address our system uses to correspond with you.">
      </div>
      <div data-drupal-selector="edit-actions" class="form-actions col-xs-12 col-md-2" id="edit-actions">
        <button data-drupal-selector="edit-submit-search-activity" class="button js-form-submit form-submit btn-primary btn icon-before" type="submit" id="edit-submit-search-activity" value="SEARCH" name=""><span class="icon glyphicon glyphicon-search" aria-hidden="true"></span>{% trans %}Search{% endtrans %} </button>
      </div>
    </div>
  </form>
</div>